<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Tasks for Project: {{ project.name }}</h1>

<ul>
    {% for task in tasks %}
    <li>
        <h3>{{ task.name }}</h3>
        <p>{{ task.description }}</p>
        <p>Assignee: {% if task.assignee %}{{ task.assignee.username }}{% else %}Not Assigned{% endif %}</p>
        <p>Status: {{ task.status }}</p>
        <p>Priority: {{ task.priority }}</p>
    </li>
    {% empty %}
    <li>No tasks yet.</li>
    {% endfor %}
</ul>

<a href="{% url 'core:task_create' project.id %}">Create Task</a>
<a href="{% url 'core:project_list' %}">Back to Projects</a>
</body>
</html>